:root {
        // Fonts
        --primary-font: 'Montserrat', sans-serif;
        --additional-font: 'Seymour+One', sans-serif;

        // Colors
        --primary-text: #FCFCFC;
        --secondary-text: #131313; 
        --additional-text: #7a7a7a;

        --accent: #e76082;

        --primary-bg: #2bdbdb;
        --secondary-bg: #FCFCFC;
        --additional-bg: #FFFFFF;

        --first-prod-bg-: #2bdbdb;
        --second-prod-bg: #EFD478;
        --third-prod-bg: #D6936D;
        --cheked-bg: #2bdbdb;

        --btn-bg: #F8D24E;
        --btn-bg-hover: #e76082;
        --btn-bg-disabled: #ABABAB;

        --dividing-line: #E1E1E1;

        


        // Gradients
        --input-bg: rgba(248, 210, 78, 0.1);

        --first-prod-gr: linear-gradient(0deg, #2bdbdb, #2bdbdb),
                #D9D9D9;
        --second-prod-gr: (0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
                #D9D9D9;
        --third-prod-gr: (0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)),
                #D9D9D9;
        --about-gr: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
                #D9D9D9;
        --overlay-gr: rgba(0, 0, 0, .5);

        // Contacts-bg
        --c-bg-mob: linear-gradient(to bottom,
                        rgba(132, 161, 120, 0) 24%,
                        #2bdbdb 24%,
                        #2bdbdb 70%);
        --c-bg-tab: linear-gradient(to bottom,
                        rgba(132, 161, 120, 0) 45%,
                        #2bdbdb 45%,
                        #2bdbdb 70%);
        --c-bg-des: linear-gradient(to bottom,
                        rgba(132, 161, 120, 0) 16%,
                        #2bdbdb 16%,
                        #2bdbdb 70%);

        // Galery-bg
        --g-bg-mob: linear-gradient(to bottom,
                        #2bdbdb 15%,
                        #2bdbdb 35%,
                        rgba(132, 161, 120, 0) 35%);
        --g-bg-tab: linear-gradient(to bottom,
                        #2bdbdb 15%,
                        #2bdbdb 40%,
                        rgba(132, 161, 120, 0) 40%);
        --g-bg-des: linear-gradient(to bottom,
                        #2bdbdb 15%,
                        #2bdbdb 25%,
                        rgba(132, 161, 120, 0) 25%);

        // Borders

        --input-bd: 1px solid #2bdbdb;
        --mdl-box-bd: 2px solid #2bdbdb;

        // Shadows

        --prods-circles-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
        --prod-cont-cards-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        --stats-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
        --about-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        --mdl-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
        --mdl-box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

// breake points
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

// transition

$trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-hover: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-brd: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-bgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trns-trnsf: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)